.abm-container {
    padding: 20px;
  }
  
  .abm-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .label {
    margin-bottom: 10px;
  }
  
  .input, .textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .textarea {
    height: 100px;
  }
  
  .button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .auto-image {
    width: 100px;
    height: auto;
  }
  
  .edit-button, .delete-button, .qr-button {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button {
    margin-right: 10px;
    background-color: #28a745;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .qr-button {
    background-color: #28a745;
    display: block;
    margin-top: 10px;
  }
  
  .image-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .thumbnail {
    width: 50px;
    height: auto;
    margin-left: 10px;
  }
  
  .carousel {
    display: flex;
    align-items: center;
  }
  
  .carousel-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #007bff;
  }
  