body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.admin-dashboard {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-dashboard h1 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 20px;
}

.admin-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-buttons .btn {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    width: 200px; /* Puedes ajustar el ancho según tus necesidades */
    text-align: center;
}

.admin-buttons .btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.footer-content .contact-info,
.footer-content .social-media {
    max-width: 500px;
}

.footer-content .social-media a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin: 5px 0;
}
