body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex-grow: 1;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.featured-vehicles {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.featured-vehicles h2 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 10px;
}

.featured-vehicles p {
    margin: 0 0 20px 0;
    font-size: 1.1em;
    color: #555;
}

.vehicle-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    justify-items: center;
}

@media (min-width: 992px) {
    .vehicle-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.vehicle-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s ease;
    max-width: 350px;
    width: 100%;
}

.vehicle-card:hover {
    transform: scale(1.05);
}

.vehicle-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.vehicle-card h3 {
    margin: 0;
    color: #007bff;
    font-size: 1.5em;
}

.vehicle-card p {
    margin: 5px 0;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel button:first-of-type {
    left: 0;
}

.carousel button:last-of-type {
    right: 0;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.footer-content .contact-info,
.footer-content .social-media {
    max-width: 500px;
}

.footer-content .social-media a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin: 5px 0;
}
